@using gameRPG.Logic
@using gameRPG.Components
@using gameRPG.Maps

@layout NoLayout
@page "/"

<div style="display: flex;">
    <div>
        <Area1TileMap></Area1TileMap>
    </div>
<div>
    <ChickenStatsComponent></ChickenStatsComponent>
</div>
</div>
@code {

}
