.tooltip-container {
    position: relative;
    display: inline-block;
    z-index: 55;
}

.tooltip-content {
    cursor: pointer;
    z-index: 55;
}

.tooltip-text {
    visibility: hidden;
    position: absolute;
    background-color: #000000AA;
    border: 2px solid lightgray;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 4px;
    z-index: 55;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    font-family: 'Minecraft', sans-serif;
    font-size: 12px;
}

.tooltip-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}
